<html>
    <head>
        <title>
            Evento Imprimir
        </title>
    </head>
    <body>
        <header>
            <h1>
                <a href="/index.php"><img id="logo" src="/images/logo.png" alt="League of Legends" style="width: 20%;height: 10%px;"></a>
            </h1>
        </header>
        <h1>
            Titulo del Evento 
        </h1>
        <aside style="float: right;">
            <a href="/index.php"><img id="foto" src="/images/tft.png" alt="Teamfight Tactics" style="float:right;"></a>
            <a href="/index.php"><img id="foto" src="/images/Lor.jpeg" alt="Legends of Runaterra" style="float:right;"></a>
        </aside>
            <p>
                Autor: Rubén Delgado Pareja
            </p>
            <p>
                Fecha: 01/03/2020
            </p>
            <p>
                Imprimir evento: <a href="imprimir.html">Evento Imprimir</a>
            </p>
            <p>
                Explicación del Evento: 
                <p>
                    TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO
                    TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO
                    TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO TEXTO DE EJEMPLO
                </p>
            </p>
    </body>
    <footer>
        2020 © Rubén Delgado Pareja Sistemas de Información Basado en Web 
        <p>
            Evento Imprimir
        </p> 
    </footer>
</html>
